<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="com.connor.leanning.commands.category.addDatasetCommand"
            id="com.connor.leanning.commands.addDatasetCommand"
            name="新增数据集">
      </command>
      <command
            categoryId="com.connor.leanning.commands.category.addItemCommand"
            id="com.connor.leanning.commands.addItemCommand"
            name="新增Item">
      </command>
      <command
            categoryId="com.connor.leanning.commands.category.addFormCommand"
            id="com.connor.leanning.commands.addFormCommand"
            name="新增表单">
      </command>
      <command
            categoryId="com.connor.leanning.commands.category.addFolderCommand"
            id="com.connor.leanning.commands.addFolderCommand"
            name="新增文件夹">
      </command>
      <command
            categoryId="com.connor.leanning.commands.category.addRevisionToBOMCommand"
            id="com.connor.leanning.commands.addRevisionToBOMCommand"
            name="挂载版本">
      </command>
      <command
            categoryId="com.connor.leanning.commands.category.exportExcelCommand"
            id="com.connor.leanning.commands.exportExcelCommand"
            name="导出Excel表">
      </command>
      <command
            categoryId="com.connor.leanning.commands.category.setItemPropertyCommand"
            id="com.connor.leanning.commands.setItemPropertyCommand"
            name="设置属性">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.connor.study.handlers.AddDatasetHandler"
            commandId="com.connor.leanning.commands.addDatasetCommand">
      </handler>
      <handler
            class="com.connor.study.handlers.AddItemHandler"
            commandId="com.connor.leanning.commands.addItemCommand">
      </handler>
      <handler
            class="com.connor.study.handlers.AddFormHandler"
            commandId="com.connor.leanning.commands.addFormCommand">
      </handler>
      <handler
            class="com.connor.study.handlers.AddFolderHandler"
            commandId="com.connor.leanning.commands.addFolderCommand">
      </handler>
      <handler
            class="com.connor.study.handlers.AddRevisionToBOMHandler"
            commandId="com.connor.leanning.commands.addRevisionToBOMCommand">
      </handler>
      <handler
            class="com.connor.study.handlers.ExportExcelHandler"
            commandId="com.connor.leanning.commands.exportExcelCommand">
      </handler>
      <handler
            class="com.connor.study.handlers.SetItemPropertyHandler"
            commandId="com.connor.leanning.commands.setItemPropertyCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.connor.leanning.commands.addItemCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.connor.leanning.commands.addDatasetCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.connor.leanning.commands.addFormCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.connor.leanning.commands.addFolderCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.connor.leanning.commands.addRevisionToBOMCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.connor.leanning.commands.exportExcelCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.connor.leanning.commands.setItemPropertyCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!--locationURI ->menu:org.eclipse.ui.main.menu 一个菜单的ID，在哪个菜单后面/前面添加菜单项  ->?后面添加的关键字表示：在菜单哪里添加项目（前面/后面/插入...）    -->
      <menuContribution
     
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="com.connor.leanning.menus.sampleMenu"
               label="我的菜单"
               mnemonic="M">
            <command
                  commandId="com.connor.leanning.commands.addDatasetCommand"
                  id="com.connor.leanning.menus.addDataset"
                  mnemonic="S"
                  tooltip="新建数据集">
            </command>
            <command
                  commandId="com.connor.leanning.commands.addItemCommand"
                  id="com.connor.leanning.menus.addItem"
                  mnemonic="S"
                  tooltip="新建零组件">
            </command>
            <command
                  commandId="com.connor.leanning.commands.addFormCommand"
                  id="com.connor.leanning.menus.addFormCommand"
                  mnemonic="S"
                  tooltip="新建表单">
            </command>
            <command
                  commandId="com.connor.leanning.commands.addFolderCommand"
                  id="com.connor.leanning.menus.addFolderCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="com.connor.leanning.commands.addRevisionToBOMCommand"
                  id="com.connor.leanning.menus.addRevisionToBOMCommand"
                  mnemonic="S">
            </command>
            <command
                  commandId="com.connor.leanning.commands.exportExcelCommand"
                  id="com.connor.leanning.menus.exportExcel"
                  mnemonic="S">
            </command>
            <command
                  commandId="com.connor.leanning.commands.setItemPropertyCommand"
                  id="com.connor.leanning.menus.setItemProperty"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      
      <!--locationURI ->toolbar:org.eclipse.ui.main.toolbar 一个工具条的ID，在哪个工具条后面/前面添加工具条项  ->?后面添加的关键字after/before表示：在工具条哪里添加项目（前面/后面/插入...）    -->
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="com.connor.leanning.toolbars.sampleToolbar">
            <command
                  commandId="com.connor.leanning.commands.addItemCommand"
                  icon="icons/sample.gif"
                  id="com.connor.leanning.toolbars.addItemCommand"
                  tooltip="新建零组件">
            </command>
            <command
                  commandId="com.connor.leanning.commands.addDatasetCommand"
                  icon="icons/sample.gif"
                  id="com.connor.leanning.toolbars.addDatasetCommand"
                  tooltip="新建数据集">
            </command>
            <command
                  commandId="com.connor.leanning.commands.addFormCommand"
                  icon="icons/sample.gif"
                  id="com.connor.leanning.commands.addFormCommand"
                  tooltip="新建表单">
            </command>
            <command
                  commandId="com.connor.leanning.commands.addFolderCommand"
                  icon="icons/sample.gif"
                  id="com.connor.leanning.toolbars.addFolderCommand"
                  tooltip="新建文件夹">
            </command>
            <command
                  commandId="com.connor.leanning.commands.addRevisionToBOMCommand"
                  icon="icons/sample.gif"
                  id="com.connor.leanning.toolbars.addRevisionToBOMCommand"
                  tooltip="挂载版本">
            </command>
            <command
                  commandId="com.connor.leanning.commands.exportExcelCommand"
                  icon="icons/sample.gif"
                  id="com.connor.leanning.toolbars.exportExcelCommand"
                  tooltip="导出Excel表">
            </command>
         </toolbar>
      </menuContribution>

      <!--locationURI ->popup:org.eclipse.ui.popup.any 一个右键菜单的ID，在哪个右键菜单后面/前面添加右键菜单项  ->?后面添加的关键字after/before表示：在右键菜单项哪里添加项目（前面/后面/插入...）    -->
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="com.connor.leanning.commands.addItemCommand"
               icon="icons/sample.png"
               id="com.connor.leanning.commands.addItemCommand"
               mnemonic="S"
               tooltip="新建零组件">
            <visibleWhen>
               <reference
                     definitionId="com.teamcenter.rac.ui.inMainPerspective">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.connor.leanning.commands.addDatasetCommand"
               icon="icons/sample.png"
               id="com.connor.leanning.commands.addDatasetCommand"
               mnemonic="S"
               tooltip="新建数据集">
            <visibleWhen>
               <reference
                     definitionId="com.teamcenter.rac.ui.inMainPerspective">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.connor.leanning.commands.addFormCommand"
               icon="icons/sample.png"
               id="com.connor.leanning.commands.addFormCommand"
               mnemonic="S"
               tooltip="新建表单">
            <visibleWhen>
               <reference
                     definitionId="com.teamcenter.rac.ui.inMainPerspective">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.connor.leanning.commands.addFolderCommand"
               icon="icons/sample.png"
               id="com.connor.leanning.commands.addFolderCommand"
               mnemonic="S"
               tooltip="新建文件夹">
            <visibleWhen>
               <reference
                     definitionId="com.teamcenter.rac.ui.inMainPerspective">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.connor.leanning.commands.addRevisionToBOMCommand"
               icon="icons/sample.png"
               id="com.connor.leanning.commands.addRevisionToBOMCommand"
               mnemonic="S"
               tooltip="挂载版本">
            <visibleWhen>
               <reference
                     definitionId="com.teamcenter.rac.ui.inMainPerspective">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.connor.leanning.commands.ExportExcelCommand"
               icon="icons/sample.png"
               id="com.connor.leanning.commands.ExportExcelCommand"
               mnemonic="S"
               tooltip="导出Excel表">
            <visibleWhen>
               <reference
                     definitionId="com.teamcenter.rac.ui.inMainPerspective">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="com.connor.leanning.commands.setItemPropertyCommand"
               icon="icons/sample.png"
               id="com.connor.leanning.commands.setItemPropertyCommand"
               mnemonic="S"
               tooltip="设置属性">
            <visibleWhen>
               <reference
                     definitionId="com.teamcenter.rac.ui.inMainPerspective">
               </reference>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

</plugin>
